#growClickAnimation {
  width: 25px;
  height: 25px;
  position: absolute;
  color: white;
  font-weight: bold;
  animation: growGoUp 1s forwards linear;
  -moz-animation: growGoUp 1s forwards linear;
  -webkit-animation: growGoUp 1s forwards linear;
  -o-animation: growGoUp 1s forwards linear;
  -ms-animation: growGoUp 1s forwards linear;
}

@-moz-keyframes growGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 8vh;
    opacity: 0;
  }
}
@keyframes growGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 8vh;
    opacity: 0;
  }
}

@-webkit-keyframes growGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 8vh;
    opacity: 0;
  }
}
@-o-keyframes growGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 8vh;
    opacity: 0;
  }
}
@-ms-keyframes growGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 8vh;
    opacity: 0;
  }
}
