#spreadClickAnimation {
  width: 25px;
  height: 25px;
  position: absolute;
  color: white;
  font-weight: bold;
  animation: spreadGoUp 1s forwards linear;
  -moz-animation: spreadGoUp 1s forwards linear;
  -webkit-animation: spreadGoUp 1s forwards linear;
  -o-animation: spreadGoUp 1s forwards linear;
  -ms-animation: spreadGoUp 1s forwards linear;
}

@-moz-keyframes spreadGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes spreadGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 60vh;
    opacity: 0;
  }
}

@-webkit-keyframes spreadGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@-o-keyframes spreadGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@-ms-keyframes spreadGoUp {
  0% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
